/*fuente*/

$font-family_1: 'PT Serif', serif;

@import "https://fonts.googleapis.com/css2?family=PT+Serif&display=swap";

body {
	font-family: $font-family_1;
	background-image: url(https://wallpaperaccess.com/full/2312687.png);
}

